.wrapper {
	margin: 0 auto;
	width: 550px;
	height: 570px;
	border: 1px solid #949493;
	
	}
	.buttons-block {
	margin: 0 auto ;
	margin-top: 5px;
	width: 220px;
	
	}
	.display {
	background: #ccc;
	margin: 0 auto;
	width: 307px;
	height: 50px;
	border-radius: 5px;
	font-size: 24px;
	}
	.button {
	float:left; 
	width: 50px;
	height: 50px;
	border: 1px solid black;
	}
	.buttonCastom	{
		float:left; 
		width: 50px;
		height: 50px;
		border: 1px solid black;
		
		}